.comments-container {
    display: none;
}

.show {
    display: block;
}

li {
    padding: 15px 0;
}

.btn-danger {
    margin-left: 20px;
}

.comment-name {
    margin-left: 40px;
}

.add-comment {
    margin-left: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.previous-cities-header {
    display: none;
}