* {
    box-sizing: border-box;
}

body {
    background-image: url("images/sunny.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.comments-container,
.add-comments-container {
    display: none;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#error {
    color: red;
    background-color: beige;
}

.show {
    display: block;
}

li {
    padding: 15px 0;
}

.btn-danger {
    margin-left: 20px;
}

.comment-name {
    margin-left: 40px;
}

.add-comment {
    margin-left: 15px;
}

.remove-comment {
    position: absolute;
    right: 0;
}

.remove-city {
    position: absolute;
    right: 0;
}


/* .tooltip-delete .tooltip-delete-text { */

.tooltip-delete-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-delete-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-delete:hover .tooltip-delete-text {
    visibility: visible;
    opacity: 1;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.inline {
    display: inline;
}

[data-icon]:before {
    font-family: icons;
    /* BYO icon font, mapped smartly */
    content: attr(data-icon);
}


/*  */